.footer {
  background-color: var(--primary-color);
  padding: 6.4rem 2.4rem;
}

.logo {
  width: 14.4rem;
  height: 2.2rem;
}

.rights {
  color: white;
  margin-top: 2.4rem;
  display: flex;
  gap: 1.2rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
  flex-direction: column;
}

.social_ancor_wrapper {
  margin-top: 3.2rem;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.social_ancor {
  color: white;
  text-decoration: none;
}

.social_icon {
  font-size: 2.4rem;
}

@media screen and (min-width: 1000px) {
  .footer {
    padding: 6rem 12.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 25rem;
    height: 3.8rem;
  }

  .social_ancor_wrapper {
    margin: 0;
  }

  .social_ancor:first-of-type:hover {
    color: magenta;
  }

  .social_ancor:nth-of-type(2):hover {
    color: dodgerblue;
  }

  .social_ancor:nth-of-type(3):hover {
    color: red;
  }
}
