@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --primary-color: #69b99d;
  --light-gray: #e4e4e4;
  --dark-green: #0f241d;
  --gray: #767676;
  --white-bg: #f9f9f9;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

.screen-readers-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
